/* Variables */
$color-black:        #100D09;
$color-white:        #f7f5f7;
$brand-color_facebook:   #3b5998;
$brand-color_github:   #333;
$brand-color_linkedin:   #0077b5;
$brand-color_twitter:   #1da1f2;

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
body {
  background-color: $color-white;
  text-align: center;
  color: $color-black;
  .wrapper {
    min-height:100%;
    position:relative;
    display: flex;
    flex-direction: column;
    padding:10px;
  }
  section {
    min-height: 300px;
    margin-bottom:70px
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
      list-style: outside none none;
      margin-bottom: 0px;
      margin-left: 0px;
      text-align: center;
      vertical-align: middle;
      min-width: 100px;
      a,
      a:visited {
        font-size: 3em;
        -webkit-transition: font-size 1s ease-out;
        transition: font-size 1s ease-out;
        &.facebook {
          color: $brand-color_facebook;
        }
        &.github {
          color: $brand-color_github;
        }
        &.linkedin {
          color: $brand-color_linkedin;
        }
        &.twitter {
          color: $brand-color_twitter;
        }
        &.instagram svg * {
          fill: url(#rg);
        }      
      }
      a:hover {
        font-size: 5em;
        /*-webkit-transition: font-size 1s; 
        transition: font-size 1s;*/
      }
    }
  }
}

footer {
  bottom:0;
}

@media only screen and (max-width: 785px) {
  main {
    ul {
      li {
        margin-bottom: 50px;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color:$color-black;
    color: $color-white;
  }
}
